
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.out
*.exe
*.app

*.o
*.a
*.so
*.dylib
*.dll
*.lib
*.pdb

*.gcda
*.gcno
*.gcov

.idea/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug/
Release/
x64/

*.swp
*.swo

*~
\#*\#

.DS_Store

*~